.slider2 {
	width: 100%;
	margin: auto;
	overflow: hidden;
	}
.slider2 ul {
	display: flex;
	padding: 0;
	width: 400%;
	animation: cambio 10s infinite alternate;

	}
.slider2 li {
	width: 100%;
	list-style: none;
	}
.slider2 img {
	width: 100%;
	}
@keyframes cambio{
		0% {margin-left: 0;}
		20% {margin-left: 0;}
		
		25% {margin-left: -100%;}
		45% {margin-left: -100%;}

		50% {margin-left: -200%;}
		70% {margin-left: -200%;}

		75% {margin-left: -300%;}
		100% {margin-left: -300%;}
	}

	.container2{
		width: 100%;
		max-width: 1200px;
		height: 430px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: auto;
	}
	
	.container2 .card{
		width: 500px;
		height: 450px;
		border-radius: 8px;
		box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
		overflow: hidden;
		margin: 20px;
		text-align: center;
		transition: all 0.25s;
	}
	
	.container2 .card:hover{
		transform: translateY(-15px);
		box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
	}
	
	.container2 .card img{
		width: 500px;
		height: 220px;
	}
	
	
	.container2 .card h4{
		font-weight: 600;
	}
	
	.container2 .card p{
		padding: 0 1rem;
		font-size: 16px;
		font-weight: 300;
	}
	
	.container2 .card a {
		font-weight: 500;
		text-decoration: none;
		color: #3498db;
	}
	
	.container3{
		width: 100%;
		max-width: 1200px;
		height: 430px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: auto;
	}
	
	.container3 .card{
		width: 700px;
		height: 500px;
		border-radius: 8px;
		box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
		overflow: hidden;
		margin: 20px;
		text-align: center;
		transition: all 0.25s;
	}
	
	.container3 .card:hover{
		transform: translateY(-15px);
		box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
	}
	
	.container3 .card img{
		width: 500px;
		height: 220px;
	}

	.container3 .card h4{
		font-weight: 600;
	}
	
	.container3 .card p{
		padding: 0 1rem;
		font-size: 16px;
		font-weight: 300;
	}
	
	.container3 .card a {
		font-weight: 500;
		text-decoration: none;
		color: #3498db;
	}